
:root {
  --color-azul: #06326b; /* Pantone 294 C */
  --color-verde: #46b258; /* Pantone 7481 C */
}

.bg-azul { background-color: var(--color-azul) !important; }
.bg-verde { background-color: var(--color-verde) !important; }
.btn-primary { background-color: var(--color-azul); }
.btn-success { background-color: var(--color-verde); }
